/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    margin: 0;
}

/*-------------------------------------------posts*/

.post{
    max-height: 50vh;
    width: 100%;
    margin-bottom: 15px;
    background-color: #9792cc;
    padding: 6px;
    border-radius: 4px;
}

.post span{
    padding-right: 0.8rem;
}

.post-user{
  display: inline;
  
}


.post-title{
  margin-bottom: 0.4rem;
}

.post-content{
  margin-bottom: 0.3rem;
}


.post-categories{
    
    width: 50%;
}

.post-header{
   
   
    
    margin-bottom: .3rem;
    
}

// .post-header {
//     display: inline;
// }

/*--------------------------------------create post modal*/
#modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    
  }
  
  
  #post-form {
    margin:auto; 
    position: relative;
    background-color: rgb(27, 28, 49);
    width: 450px;
    min-height: 400px;
    padding: 0 20px 20px 20px;
    color: #fff;
    border-radius: 10px;
  }

  .form-header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid whitesmoke;

  }

  #close-button{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .categories{
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .categories-header{
    display: inline;
  }

  .category{
    padding: 10px;
    display: inline;
    width: max-content;
    
  }
  .category input,label{
    cursor: pointer;
  }
  

  #title{
    width: 100%;
    margin-bottom: 12px;
    border: none;
    background-color: #110f24;
    color: #8982ca;
    padding: 10px;
    border-radius: 10px;
  }
 .form-text{
    width: 100%;
    height: 170px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #110f24;
    color: #8982ca;
    padding: 10px;
    resize: none;
 }

 #submit-button{
    width: 100%;
    margin-top: 15px;
    color: white;
    background-color: green;
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 10px;
 }
 

*{
    box-sizing: border-box;
}

