/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    margin: 0;
}
#modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    
    
  }
  
  
  #post-form {
    margin:auto; 
    position: relative;
    background-color: rgb(27, 28, 49);
    width: 450px;
    min-height: 400px;
    position: relative;
    padding: 0 20px 20px 20px;
  }

  #post-form h2{
    height: 100%;
  }

  .form-header{
    margin-bottom: 15px;
    border-bottom: 1px solid #b3b9ff ;
    display:flex ;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    
  }




  #post-form input, textarea, select{
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    font-size: 15px;
    color: #b3b9ff;
    background:#000000
    
  }

  
  #post-form button{
    color: #fff;
    background-color: black;
    width: 100%;
    padding: 10px ;
    border-radius: 22px;
  }
  

  

  #close-button {
    position: absolute;
    top: 0;
    right: 0;
    
    font-size: 24px;
    cursor: pointer;
    background-color: green;
    padding: 0;
  }

  #post-form textarea {
    width: 100%;
    margin-bottom: 15px;
    min-height: 35px; /* Set a minimum height */
    height: auto; /* Allow the height to grow dynamically */
    font-size: 15px;
    color: #b3b9ff;
    background: #000000;
    resize: vertical; /* Enable vertical resizing */
  }
  
//   #modal-content form {
//     display: flex;
//     flex-direction: column;
//     justify-content: ;
//     align-items: ;
//     flex-grow: 1;
//      /* Center the form contents horizontally */
//   }
  
//   #modal-content input, textarea {
    
    
//     margin: 0 auto;
//     margin-bottom: 10px; /* Add a small margin between input fields */
//     padding: 8px; /* Add padding to the input fields */
//     flex-grow: 1;
//   }
  

  
/* next   */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Inconsolata', sans-serif;
    background-color:azure;
    color:black;
}

a{
    color:blueviolet;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:rgb(149, 84, 168);
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:rgb(199, 207, 207);
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

.like i{
    font-size: 45px;
}


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

}
/*   Header Section    */

header{
    margin-inline: 10px;
}
  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: left;
}
.navigation{
    background-color:rgb(149, 84, 168);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
    transition: .5s ease-in-out;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:black;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: black;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family: 'Inconsolata', sans-serif;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

  /* Search Box styles */
.search-box{
    border: solid 1px rgb(149, 84, 168);
    padding: 10px;
    display:flex;
    box-shadow:1px 2px 3px rgb(149, 84, 168);
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: rgb(159, 199, 199);
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  rgb(149, 84, 168);
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.user i{
    font-size: 23px;
}

.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: azure;
    font-weight: bold;
}

.replies button{
    padding: 5px;
    background-color:#fff;
    color:#000000;
}

.replies button:hover{
    background-color: rgb(149, 84, 168);
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: rgb(140, 155, 155);
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: black;
}

.navigate a:hover{
    color:#a74ad3;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: black;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #a74ad3;
}

.pagination a:hover{
    opacity: 0.5;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #b4adad;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: azure;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

.comment button:hover{
    border: solid 1px #000000;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}
