/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    font-size: 14px;
    position: absolute;
    font-family: monospace;
    background:linear-gradient(rgb(89, 113, 179),azure);
    background-repeat: no-repeat;
    background-color: azure;
    color:black;
}

a{
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

}

  /* Nav Bar styles */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: inherit;
    overflow: hidden;
}

.navbar a{
    text-align: center;
    cursor: pointer;
    padding: 0.3em 0.4em;
    font-size: 1em;
    color: white;
}

.navbar .sign-in:hover {
    /* margin-left: auto; */
    text-decoration: underline;
}

.navbar .brand {
    font-weight: bolder;
    font-size: 1.5em;
    top: 0;
    left: 0;
}

.navbar .sign-in{
    right: 0;
}

.navbar .account{
    margin-left: 75%;
    font-size: larger;
    display: none;
}

.navbar .account:hover{
    background-color: rgb(103, 131, 192);
    padding: 0.35em;
}

.sign-in i{
    font-size: 1.35em;
}

.everything{
    height: 100vh;
    width: 100%;
    padding: 0.5em;
    left: 0;
    margin-right: 0.5em;
    background: azure;
}

#modal-container {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.post_btn{
    cursor: pointer;
    padding: 1em 1em;
    border: none;
    color: rgb(121, 117, 117);
    background-color: inherit;
    font-weight: bolder;
    font-size: 1em;
    display: none;
}

.post-form button{
    padding: 0.2em 2em;
    background-color: green;
}

.post_btn:hover{
    text-decoration: underline;
    background-color: #eeebeb;
}

.plus-sign{
    font-size: large;
}

.posts {
    height: auto;
    width: 30%;
    text-align: center;
    background-color: rgb(249, 255, 255);
    justify-content: center; /* Center horizontally */
    margin: auto;
    border-radius: 5%;
    border-style: groove;
    border-color: inherit;
}

.image{
    height: auto;
    max-height: 65vh; 
    width: 60%;
    size: auto;
    margin: auto;
}

.image img{
    height: auto;
    width: 100%;
    border-radius: 5%;
    border-style: groove;
}

#post-form {
    margin:auto; 
    position: relative;
    background-color: rgb(27, 28, 49);
    width: 450px;
    min-height: 400px;
    padding: 0 20px 20px 20px;
    color: #fff;
    border-radius: 10px;
}

.form-popup{
    display: none;
}

.form-header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid whitesmoke;
}

#close-button{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categories{
    margin-top: 12px;
    margin-bottom: 12px;
}

.categories-header{
    display: inline;
}

.category{
    padding: 10px;
    display: inline;
}

#title{
    width: 100%;
    margin-bottom: 12px;
    border: none;
    background-color: #110f24;
    color: #8982ca;
    padding: 10px;
    border-radius: 10px;
}
.form-text{
    width: 100%;
    height: 170px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #110f24;
    color: #8982ca;
    padding: 10px;
}
#submit-button{
    width: 100%;
    margin-top: 15px;
    color: white;
    background-color: green;
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 10px;
}

/* ERROR POPUP PAGE */
.error-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.error-popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

#closeBtn {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* POPUP SIGNUP PAGE */

.overlay{
    display: none;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(37, 37, 37, 0.6));
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 100%;
}

.popup-container {
    background: #ddd;
    padding: 2em 2em;
    border-radius: 1.5em;
    height: 75%;
    width: 25%;
}

.close {
    position: absolute;
    top: 13%;
    left: 61%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(153, 175, 175);
    cursor: pointer;
}

.sign-out{
    display: none;
}

.sign-out label{
    font-size: 0.65em;
    text-decoration: none;
}

.sign-out input{
    font-size: 70%;
    padding: 1% 15%;
    font-weight: bolder;
    border-radius: 6em;
    margin-top: 10%;
    color: #468ebe;
    border: none;
    cursor: pointer;
}

.sign-out input:hover{
    background-color: #b9b9b9;
}

.login{
    display: none;
}

.login  input{
    padding: 1em;
    font-size: 0.7em;
    border-radius: 1em;
    border: none;
    margin-bottom: 1em;
}

.login button{
    font-size: 100%;
    padding: 1% 15%;
    font-weight: bolder;
    border-radius: 6em;
    margin-top: 10%;
    color: #468ebe;
    border: none;
    cursor: pointer;
}

.login button:hover{
    background-color: #b9b9b9;
}

.text {
    margin-top: 20%;
    font-size: 60%;
    color: #585656;
}

.text .register{
    cursor: pointer;
    color: #468ebe;
}

.text .register:hover{
    text-decoration: underline;
}

.signup{
    display: none;
}

.signup  input{
    padding: 1em;
    font-size: 0.7em;
    border-radius: 1em;
    border: none;
    margin-bottom: 1em;
}

.signup button{
    font-size: 100%;
    font-weight: bolder;
    padding: 1% 15%;
    border-radius: 6em;
    margin-top: 10%;
    color: #468ebe;
    border: none;
    cursor: pointer;
}

.signup button:hover{
    background-color: #b9b9b9;
}

.cntr{
    text-align: center;
    font-size: 1.25em;
}

.forum {
    color: rgb(84, 154, 194);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.labels {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 70%;
}

.interaction-container{
    display: flex;
    align-items: center;
    margin-bottom:0.3em;
}

/* Likes and Dislikes */

.active {
    display: none;
}
/* Styling for the like and dislike buttons */
.likes-container {
    display: flex;
    background-color: rgb(214, 211, 211);
    border-radius: 2em;
    max-width: 6.3em;
    width: auto;
    align-items: center;
    margin-right: 10px;
}

.like-button,
.dislike-button {
    float: left;
    display: flex;
    align-items: center;
    border: none;
    padding: 0.5em 0.8em;
    background-color: transparent;
    cursor: pointer;
}

.like-button{
    border-radius: 2em 0 0 2em;
}
.dislike-button{
    border-radius: 0 2em 2em 0;
}

.like-button:focus,
.dislike-button:focus {
    outline: none;
}

.like-button:hover,
.dislike-button:hover{
    background: rgb(182, 181, 181);
} 

.like-count,
.dislike-count {
    margin-left: 5px;
    font-size: 0.84em;
}

/* Comment Section */

.btns{
    cursor: pointer;
    margin-left: auto;
    margin-right: 1em;
}

.btns:hover{
    text-decoration: underline;   
}

.comment-section{
    display: none;
    overflow: auto;
    max-height: 8em;
    margin: auto;
    border-radius: 5%;
}

.comments{
    padding: 0.2em;
    overflow: hidden;
    border-radius: 1em;
    margin: 1em;
    box-sizing: content-box;
    background: #b4adad;
}

.comments h4{
    float: left;
    color: black;
    margin: auto;
    margin-left: 0.4em;
}

.comments p{
    text-align: left;
    padding: 0.5em;
    height:max-content;
    border-radius: 1em;
}


.comment{
    padding: 2em 2em;
    overflow: hidden;
    display: none;
}
.comment-box {
    resize: none;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 1.5em 1.5em 1em 1em;
    outline-color: rgb(194, 194, 194);
}

.submit-button {
    background-color: white;
    border-radius: 0.5em 0.5em 2em 2em;
    padding: 0.2em 1em;
    float: right;
    border-width: 0.1em;
    cursor: pointer;
}

.author{
    float: left;
    color:  rgb(63, 89, 146);
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.25em;
}

.content{
    margin: auto;
    padding: 1.25em;
}

.title{
    font-size: 1.25em;
    text-align: center;
    text-decoration: underline;
}

.written-content{
    padding: 1em 1em;
    margin: 2em;
    text-align: left;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: rgb(159, 199, 199);
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    background-color:  rgb(110, 165, 162);
    text-align: center;
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #b4adad;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: azure;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

.comment button:hover{
    border: solid 1px #000000;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}
