<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <div class="likes-container">
        <button class="like-button" id="{{.ID}}-like">
          <i class="fas fa-thumbs-up"></i>
          <span class="like-count" id="{{.ID}}-1">{{.Likes }}</span>
        </button>
        <button class="dislike-button" id="{{.ID}}-dislike">
          <i class="fas fa-thumbs-down"></i>
          <span class="dislike-count" id="{{.ID}}-2">{{.Dislikes }}</span>
        </button>
      </div>
</body>
</html>