<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            display: flex;
        }

        * {
            margin: 0;
        }

        div > * {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div style="display:inline; height: 50%; width: 50%; margin: auto; background-color: blue;">
        
    </div>

</body>

</html>