<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    {{if .}}
    <header>
        <nav class="navbar">
            <a href="/" class="brand">Forum</a>
            {{if .UserInfo}}
            <a class="account" id="account-link">{{.UserInfo.Username}} <i class ="fa fa-user-circle"></i></a>
            {{end}}
            <a class="sign-in" id="sign-in">Sign In<i class="fa fa-sign-in" id="sign-i"></i></a>
        </nav>
    </header>
    <script>
    window.addEventListener("DOMContentLoaded", function () {
        checkSession();
    });
    </script>
    <div class="everything">
        <button class="post_btn" id="create-post-button">Create Post <span class="plus-sign">&plus;</span></button>
        <div id="modal-container">
            <div class="post-form" id="post-form">
                <div class="form-header">
                    <span id="close-button" onclick="closePopup()" >&times;</span>
                    <h2 style="color: #b3b9ff ;">Create post</h2>
                </div>
                    <form action="/post" id="create-post-form" method="post">
                        <div class="categories">
                            <h3 class="categories-header">Categories:</h3>
                            <div class="category">
                                <label for="etymology">etymology</label>
                                <input type="checkbox"  id="etymology" name="category"
                                    value="etymology">
                            </div>
                            <div class="category">
                                <label for="biology">biology</label>
                                <input type="checkbox" id="biology" name="category" value="biology">
                            </div>
                        </div>
                            <label for="image">Upload Image:</label>
                            <input type="file" id="image" name="image">
                            <input id="title" type="text" name="title" placeholder="Title" required>
                            <textarea class="form-text" name="content" placeholder="Content" required></textarea>
                            <button type="submit">Submit</button>
                    </form>
            </div>
        </div>
        <!-- <div class="navigate">
            <span> <a href="/account"><i class ="fa fa-user-circle"></i></a> > <a href="/">Forum</a> >> <a href="/posts">Users</a></span>
        </div> -->
        <div class="overlay" id="popup-container">
            <div class="popup-container" id="container-div">
                <a class="close" onclick="closePopup()" id="close">&times;</a>
            <div class="signup cntr" id="signup">
                <form method="POST" action="/sign-up">
                <label class="labels">Join <span class="forum">Forum</span></label>
                <br>
                <br>
                <br>
                <span class="error-message" id="error"></span>
                <p><input type="text" name="username" placeholder="Username" onblur="checkUsername(this.value)" required></p>
                <p><input type="email" name="email" placeholder="Email" onblur="checkEmail(this.value)" required></p>
                <p><input type="password" name="password" placeholder="Password" required></p>
                <button type="submit">Sign up</button>
                </form>
                <p class="text">Already have an account? <a class="register" id="login_btn">Log In</a></p>
            </div>
            <div id="sign_out" class="sign-out cntr">
                <label class="labels">Are you sure you want to sign out?</label>
        
                <input type="button" onclick="SignOut()" value="Yes">
                <input type="button" onclick="closePopup()" value="No">
            </div>
            <div class="login cntr" id="login">
                <form method="POST" action="/log-in">
                <label class="labels">Sign In to <span class="forum">Forum</span></label>
                <br>
                <br>
                <br>
                <p><input type="email" name="email" placeholder="Email" required></p>
                <p><input type="password" name="password" placeholder="Password" required></p>
                <button type="submit">Log In</button>
                </form>
                <p class="text">Don't have an account? <a class="register" id="register_btn">Register</a></p>
            </div>
            </div>
        </div>
        {{if .UserInfo}}
        {{if .UserInfo.Post}}
        {{range .UserInfo.Post}}
        <div class="posts">
            <pre class="author" ><i class="fa fa-user-circle"></i> {{.Username}}</pre>
            <br>
            <br>
            <div class="content">
                <p class="title">{{.Title}}</p>
                <!-- <div class="image"><img src="../dog.jpg" alt="">Image</div> -->
                <div class="written-content" >{{.Content}}</div>
            </div>
            <br>
            <div class="comment-page"> 
            <div class="comment" >
                <textarea class="comment-box" name="comment" id="{{.ID}}-comment" rows="2" cols="40" placeholder="Write your comment..." required></textarea>
                <button id="{{.ID}}" class="submit-button" type="submit" onclick="comment(this.id)">Comment</button>
            </div>
            <div class="interaction-container">
                <div class="likes-container">
                    <button class="like-button" id="{{.ID}}-like">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="like-count" id="{{.ID}}-1">{{.Likes }}</span>
                    </button>
                    <button class="dislike-button" id="{{.ID}}-dislike">
                        <i class="fa fa-thumbs-down"></i>
                        <span class="dislike-count" id="{{.ID}}-2">{{.Dislikes }}</span>
                    </button>
                </div>
                <span id="comment-btn-{{.ID}}" class="btns" onclick="showComments(this.id)">{{.NumOfComms}} <i class="fa fa-comment"></i> comments</span>
            </div>
            <div class="comment-section" id="comment-section-{{.ID}}">
        </div>
        </div>
        </div>
        <br>
        <br>
        {{end}}
        {{end}}
        {{end}}
        {{end}}
    </div>
</body>
<script src="../static/script.js"></script>
<!-- <footer>
    <span>&copy;  Forum | All Rights Reserved</span> -->
</html>